@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html * {
    box-sizing: inherit;
}

.wrapper {
    padding: 0 16px;
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;

    .heading {
        margin: 64px 0 32px;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
    }
}

.table, .table__row,
.table__heading, .table__col {
    border: 1px solid gray;
}

.table {
    width: 100%;

    &__row {
        &:nth-child(odd) {
            background-color: #eee;
        }
    }

    &__heading {
        font-weight: 500;
        padding: 16px;
        font-size: 1.2rem;
    }

    &__col {
        padding: 16px;
        font-size: 1rem;
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.button {
    min-width: 65px;
    display: inline-block;
    padding: 8px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;

    & + & {
        margin-left: 6px;
    }

    &--medium {
        min-width: 120px;
        font-size: 1.1rem;
        padding: 12px 24px;
        border-radius: 4px;
    }
}

.edit-btn {
    color: white;
    background-color: #3498DB;
}

.success-btn {
    color: white;
    background-color: #2ECC71;
}

.error-btn {
    color: white;
    background-color: #E74C3C;
}

.wrap-btn {
    margin: 32px 0;
}


.modal {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    &--active {
        display: flex;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    &__content {
        z-index: 100;
    }
}

.form-control {
    width: 500px;
    padding: 32px 16px;
    background-color: white;
    border-radius: 4px;

    &__header {
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 32px;
    }

    &__row {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input {
        width: 100%;
        padding: 8px;
        border-radius: 3px;
        border: 1px solid #aaa;

        &:focus {
            border-color: #3498DB;
        }
    }

    &__label {
        display: inline-block;
        font-size: 1.1rem;
        margin-bottom: 8px;
    }
}